html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;

  text-align: center;
  padding: 0 20px;
}

.home-pic-style {
  width: 70%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.home-pic-style:hover {
  transform: scale(1.05);
}

.home-heading {
  margin-top: 15px;
  color: #007bff;
  font-size: 22px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.home-heading:hover {
  color: #0056b3;
}

.home-button {
  margin-top: 15px;
  padding: 10px 18px;
  border-radius: 25px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.home-button:active {
  transform: translateY(0);
}
